@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	font-family: Bebas Neue;}


$navFont: 'Bebas Neue';

//tamaños de texto

$textAccordion: 0.8em;
$textSmall:1em;
$textMedium:1.5em;
$textBig:2em;
$textTitle:2.5em;
$textExtra:3em;

$mainFont:'Poppins'